.notification {
  border:1px solid #ccc;
  text-align:left;
  padding:10px;
  margin:5px;
}
.notification.info {
  background-color:#e7f3fe;
}
.notification.warning {
  background-color:#fff4e5;
}
.notification.error {
  background-color:#fdecea;
}